body {
    background-image: url('../img/restaurant_icons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.dashboard {
    background-image: url('../img/restaurant_icons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}