body {
    background-image: url('../img/restaurant_icons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 1200px;
}

.dashboard {
    background-image: url('../img/restaurant_icons.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}