{% extends "base.html" %}

{% block content_dashboard %}

    <!-- content -->
    <div class="container dashboard">
            <div class="row">
              <p style="padding: 0.2em;"></p>
              <div class="col-12">
                 <h2>MY PROFILE</h2>
                 <img src="{{ url_for('static', filename='assets/img/thumb.png') }}" style="border-radius:50%; width:120px;" alt="">
                 {% if user %} 
                    <h2>{{ user.last_name }}</h2>
                    <h3>{{ user.first_name }}</h3>
                 {% endif %}
                <hr/>
              </div>
            </div>
    
            <div class="row">
                <div class="col-4">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                        <a class="nav-link active" id="v-pills-recipe-tab" data-toggle="pill" href="#v-pills-recipe" role="tab" aria-controls="v-pills-recipe" aria-expanded="true">
                            MY RECIPES
                        </a>
                        <a class="nav-link" id="v-pills-category-tab" data-toggle="pill" href="#v-pills-category" role="tab" aria-controls="v-pills-category" aria-expanded="true">
                            ADD RECIPE CATEGORY
                        </a>
                        <a class="nav-link" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab" aria-controls="v-pills-account" aria-expanded="true">
                           ACCOUNT DETAILS
                        </a>
                        <br><hr>
                        <a href="{{ url_for('logout') }}" class="btn btn-info">SIGN OUT</a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
    
                                <h4>PERSONAL INFO</h4>
                                <hr>
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                        <label for="firstName" class="col-form-label">First Name</label>
                                        <input type="text" minlength="3" class="form-control" id="firstname" value="{{ user.first_name }}" disabled>
                                        </div>
                                        <div class="form-group col-md-6">
                                        <label for="lastname" class="col-form-label">Last Name</label>
                                        <input type="text" minlength="4" class="form-control" id="lastname" value="{{ user.last_name }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-form-label">Email</label>
                                        <input type="email" class="form-control" id="email" value="{{ user.email }}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Password</label>
                                        <input type="password" minlength="6" class="form-control" id="password" value="{{ user.password }}" disabled>
                                    </div>
                                    
                                    <a href="#" class="btn btn-primary">Update Personal Information</a>
                                </form>
    
                        </div>
                        <div class="tab-pane fade show active" id="v-pills-recipe" role="tabpanel" aria-labelledby="v-pills-recipe-tab">
                            
                            <!-- Messages -->
                                {% include 'messages.html' %}
                            <!-- end messages -->

                            <h4>RECIPES(BY CATEGORY)</h4>
                            <hr>

                            <!--Recipe categories-->
                            {% if categories %}
                                <div class="row">
                                    {% for category in categories %}
                                        <div class="col">
                                            <div class="card" style="width: 20rem;">
                                                <img class="card-img-top" src="{{ url_for('static', filename='assets/img/vegetable-risotto.jpg') }}" alt="Vegetable Risotto">
                                                <div class="card-body">
                                                    <h4 class="card-title">{{ category.name|e }}</h4>
                                                    <p class="card-text">{{ category.description | truncate(30) }}</p>
                                                    
                                                    <button class="btn">
                                                        Recipes <span class="badge badge-secondary">{{ category.recipes|length }}</span>
                                                    </button>
                                                    <a href="{{ url_for('recipe_category', categoryname=category.name) }}" class="btn btn-success">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="alert alert-warning">
                                    You do not have any recipe categories added yet!
                                </div>
                            {% endif %}

                        </div>
                        <div class="tab-pane fade" id="v-pills-category" role="tabpanel" aria-labelledby="v-pills-category-tab">
    
                            <h4>RECIPE CATEGORY</h4>
                            <hr>
                            <form action="{{ url_for('dashboard') }}" method="POST">
                                <div class="form-group">
                                    <label for="category_name">Name</label>
                                    <input type="text" class="form-control" name="category_name" id="category_name" placeholder="Recipe Category">
                                </div>
                                
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                                </div>
    
                                <button type="submit" class="btn btn-primary">Create</button>
                            </form>
    
                        </div>
                    </div>
                </div>
            </div> 

          </div><!-- end content -->

{% endblock %}